@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Luckiest+Guy&display=swap');

body{
    background-color: white;
    font-family: Karla;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(32, 159, 243, 0.75);
    font-family: Luckiest Guy;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    margin: auto 0;
    color: black;
    text-decoration: none;
    padding: 50px;
}
nav a:hover{
    background-color: #2B2353;
    color: #FFF0D7;
}
.logo {
    width: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -130px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img{
    width: 100%;
    height: 100%;
}



/* main mage */
.main-grid p{
    padding-right: 50px;
}
.main-grid {
    display: grid;
    grid-template-columns: 50px 50px 50px 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: #FFF0D7;
}
#intro {
    justify-self: center;
    align-self: center;
    grid-column: 3/5;
    grid-row: 1;
}
#main-content {
    justify-self: center;
    align-self: center;
    grid-column: 2/5;
    grid-row: 2;
}
#outro {
    justify-self: center;
    align-self: center;
    grid-column: 4/5;
    grid-row: 3;
}



/* page two */
#our-work {
    padding: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFF0D7;
}
#our-work img {
    margin-right: 20px;
    margin-bottom: 50px;
    width: 80%;
    border: 5px solid black;
}
#our-work p{
    font-family: Karla;
}

#quote {
    grid-column: 1/2;
    grid-row: 2/3;
}
#back-before{
    grid-row: 4/5;
}
#back-after{
    grid-column: 1/2;
    grid-row: 4/5;
}
#shot-before{
    grid-row: 6/7;
}
#shot-after{
    grid-column: 1/2;
    grid-row: 6/7;
}


/* page 3*/
#faq-grid{
    padding: 50px 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #FFF0D7;
}
#faq-header{
    grid-column: 1/2;
    font-size: 60px;
    font-family: Luckiest Guy;
    text-align: center;
    padding-right: 300px;
}
#faq-image{
    grid-column: 2/3;
    width: 100%;
    margin-bottom: 50px;
}
#questions{
    grid-column: 1/3;
    grid-row: 2/3;
}
#questions div{
    margin: 80px;
}



footer{
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: rgb(32, 159, 243);
    font-family: Karla;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 80px;
    grid-template-rows: 150px;
}
footer p{
    justify-self: center;
    align-self: center;
}
footer a{
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: gray;
}
#social{
    grid-column: 4/5;
}
.socials{
    width: 50%;
    height: 50%;
}